extends layout

block content
    #dialogOverlay
        .dialogBox#DBdescription(style="display: none")
                h2 #{user.characterName}
                p #{user.description}
                button(value="closeDialog", class="normal-button", style="width: 12vh;") X
        .dialogBox#DBteam(style="display: none")
                h2 #{team.name}
                p #{team.description}
                button(value="closeDialog", class="normal-button", style="width: 12vh;") X
        .dialogBox#DBstyle(style="display: none")
                h2 #{style.name}
                p #{style.description}
                button(value="closeDialog", class="normal-button", style="width: 12vh;") X
    .contentBox#CBdata()
        h1 PER
            br 
            | SON
            br
            | AL
        table#datatable 
            tr
                td 
                    button(value="DBdescription") #{user.characterName}
            tr
                td 
                    button(value="DBteam") #{team.name}
            tr
                td 
                    button(value="DBstyle") #{style.name}
    .contentBox#CBbank(style="display: none")
        h1 TRA 
            br
            | NSF
            br
            | ER
        form
            h2 BALANS: E$ 
                span#balance 
            input(type="text" name="fromAccount", value='#{user.bankAccountID}', class="wide", disabled)
            br
            br
            img(src="/images/moneyto.svg", width="10%", height="10%")
            br
            br
            input(type="text", name="toAccount", inputmode="numeric", value="#", class="wide", maxlength=5, id="toAccountInput" oncut="return false;", oncopy="return false;", onpaste="return false;")
            br
            br
            b  E$  
            input(type="text", name="amount", placeholder="0", maxlength=4, style="text-align:left; width:4ch") 
            button(class="normal-button", style="margin-left: 12%")#sendMoneyButton SEND
              
    .contentBox#CBquests(style="display: none")
    #menu 
        button(class="menu-button")
        button(class="menu-button", value="CBdata")
            img(src="/images/disk.svg")
        button(class="menu-button", value="CBbank")
            img(src="/images/bank.svg")
        button(class="menu-button", value="CBquests")
            img(src="/images/quests.svg")
        button(class="menu-button")